.govBildSwitch > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
}
.toogleHover {
  cursor: pointer;
}
.toogleHover:hover {
  color: blue;
}
.standardGOVBild {
  text-align: center;
}
.standardGOVBild > img {
  max-width: 100%;
  max-height: 100px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dialog {
  display: flex;
  flex-direction: column;
  top: 0%;
  z-index: 500;
  padding: 0px;
  height: 300px;
  border: none;
  width: 100%;
  overflow: hidden;
}
.dialog > div:first-child {
  display: inherit;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.dialog > div:last-child {
  margin: auto;
}
.dialog > div:nth-child(2) > div {
  height: 100% !important;
  background-size: 100% 100% !important;
}
.dialog > div:last-child > p {
  text-align: center;
}
.dialog > div:last-child,
.dialog > div:first-child {
  padding: 5px;
}
