.valueContainer {
  white-space: break-spaces !important;
  margin: 'auto';
}
.attributeHeader {
  min-height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.02) !important;
  display: flex;
}
.attributeHeader > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.namesEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.cellsWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.exportWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.exportWrapper > div {
  flex: 1 0 70%;
}
.exportWrapper > a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 30%;
}
