.searchController {
  display: grid;
  grid-template-rows: auto auto auto;
}
.searchController p {
  color: black;
}
.searchController > div:first-child {
  display: grid;
  grid-template-columns: 86% 7% 7%;
}
.placeNameWrapper {
  display: flex;
  flex-direction: column;
}
.inputField {
  flex: 1 1 85%;
  border: none;
  background-color: #f2f2f2;
  margin: 5px;
}
.inputField > div > div {
  padding: 0 !important;
}
.autocomplete {
  position: absolute;
}
.placeName {
  display: grid;
  grid-template-columns: 30% 70%;
}
.placeName > div {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px !important;
}
.placeNameResized {
  grid-template-columns: 30% 50% 20%;
}
.boundingBox {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  margin-top: 10px;
}
.boundingBox > div {
  display: flex;
  justify-content: flex-start;
}
.boundingBoxResized > div:last-child > div {
  margin-left: 10px;
}
.boundingBoxResized > div:last-child {
  margin-left: unset !important;
}
.resizedSearchOptions {
  display: grid;
  grid-template-columns: auto auto;
}
/* media queries */
@media (max-height: 900px), (max-width: 1772px) and (max-height: 900px) {
  .boundingBox {
    margin-top: 5px;
  }
  .placeName > div {
    height: 20px !important;
  }
}
